.task__add-btn {
    width: 250px;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    line-height: 1.208;
    font-weight: 600;
    transition: 0.5s ease-in-out;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #fff;
    border-radius: 2px;
    align-self: center;
    margin-top: 60px;
  }
  
  .task__add-btn:hover {
    opacity: 0.6;
    cursor: pointer;
  }