.form__submit-btn {
  align-self: center;
  width: 358px;
  margin: 0;
  padding: 0;
  margin-top: 18px;
  margin-bottom: 37px;
  padding-top: 14px;
  padding-bottom: 18px;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  line-height: 1.222;
  font-family: "Inter";
  background-color: #000;
  color: #fff;
  transition: 0.5s ease-in-out;
}

.form__submit-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 675px) {
  .form__submit-btn {
    width: 238px;
    font-size: 14px;
    line-height: 1.214;
    margin-top: 15px;
    padding-bottom: 14px;
    margin-bottom: 25px;
  }
}
