.new-todo__add-btn {
    width: 150px;
    height: 50px;
    margin: 0;
    padding: 0;
    background-image: url(../../../images/add-btn.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: inherit;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.5s ease-in-out;
    border: 2px solid #fff;
    border-radius: 2px;
  }
  
  .new-todo__add-btn:hover {
    opacity: 0.6;
    cursor: pointer;
  }